@media (prefers-color-scheme: dark){
  :root{
    --background-color: #000028;
    --header-color: #db00ff;
    --secondary-color: #ff0070;
    --accent-color: #ff0070;
    --menu-color: #353430;
    --text-color: #f1b2ce;
    --button-color: #ff0070;
    --active-color: #ff0070;
    --title-color: #000028;
    --hover-color: #ff007040;
    --hover-text-color: #f1b2ce;
    --rec: flex;
    --background-image: url(../images/cover-image-dark.png);
  }
}

.page.theme_dark {
  --background-color: #000028;
  --header-color: #db00ff;
  --secondary-color: #ff0070;
  --accent-color: #ff0070;
  --menu-color: #353430;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --active-color: #ff0070;
  --title-color: #000028;
  --hover-color: #ff007040;
  --hover-text-color: #f1b2ce;
  --rec: flex;
  --background-image: url(../images/cover-image-dark.png);
}
