.page {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--background-color);
  color: var(--menu-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* Начало верстки header */

.header{
  display: grid;
  position: relative;
  align-items: start;
  justify-items: end;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.decorated-zone::before, .decorated-zone::after{
  position: absolute;
  display: block;
  z-index: -1;
  block-size: 25px;
  inline-size: 25px;
  content: '';
}

.decorated-zone::before{
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-inline-end: 1px solid var(--active-color);
  border-block-start: 1px solid var(--active-color);
}

.decorated-zone::after{
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-inline-start: 1px solid var(--active-color);
  border-block-end: 1px solid var(--active-color);
}

.header__rec{
  position: absolute;
  display: var(--rec);
  align-items: center;
  color: var(--secondary-color);
  inset-block-start: 10px;
  inset-inline-end: 18px;
}

.header__rec::after{
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 4px 2px var(--secondary-color);
  border-radius: 50%;
  margin-inline-start: 10px;
}

.header__theme-menu {
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button{
  background-color: transparent;
  color: var(--button-color);
  cursor: pointer;
  border: none;
  text-transform: lowercase;
  padding: 0px 13px 4.5px;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--active-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--active-color);
   pointer-events: none; 
}

.page__title{
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 10px;
}

.header__paragraph{
  background-color: var(--accent-color);
  font-weight: 700;
  max-inline-size: 364px;
  color: var(--title-color);
}

/* Конец верстки header */

/* Начало верстки main */

.main{
  display: flex;
  flex-direction: column;
  padding: 40px 10px 0px;
  gap: 50px;
}

.section{
  gap: 20px;
  display: grid;
}

.section__title{
  font-weight: 700;
  font-size: 18px;
  color: var(--active-color);
}

.article-content{
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.title-decor{
  background-color: var(--accent-color);
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
}

.article__link{
  text-decoration: none;
  text-shadow: 2px 0 0 var(--accent-color);
}

.article__link:hover{
  border-block-end: 1px solid var(--hover-text-color);
}

.article__link:focus{
  outline: none;
}

.article__link:focus-visible{
  outline: 1px solid var(--hover-text-color);
}

.common{
  font-weight: 400;
}
.section__gallery{
  grid-template-rows: auto 142px 355px 237px 355px 237px;
  gap: 10px;
}

.section__gallery .section__title{
  background-color: var(--accent-color);
  color: var(--title-color);
}
 
.gallery-image{
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* Конец верстки main */

/* Начало верстки footer */

.footer{
  display: grid;
  position: relative;
  align-items: center;
  justify-items: center;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
  margin-block-start: 40px;
}

.footer .page__title{
  align-self: center;
}

/* Конец верстки footer */

@media (width >= 768px) {

  /* Начало верстки для таблеток */

  .decorated-zone::before{
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after{
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec{
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: 170px;
  }

  .main{
    padding: 58px 20px;
    gap: 80px;
  }

  .header .page__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: flex-start;
    margin-inline-start: -20px;
  }

  .section__cause{
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section__cause .article-content{
    grid-column: 2 / 2;
  }

  .section__factors .section__title{
    max-inline-size: 236px;
  }

  .section__advice{
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    grid-template-rows: 23px auto auto auto auto auto;
  }
  
  .section__advice .article-content{
    grid-column: 2 / 2;
  }

  .section__gallery{
    grid-template-rows: 23px 192px 230px 318px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .section__gallery .section__title{
    grid-area: 1 / 1 / 2 / 4;
  }

  .gallery-pic:nth-of-type(1){
    grid-area: 2 / 1 / 3 / 3;
  }

  .gallery-pic:nth-of-type(2){
    grid-area: 2 / 3 / 4 / 4;
  }

  .gallery-pic:nth-of-type(3){
    grid-area: 3 / 1 / 5 / 2;
  }

  .gallery-pic:nth-of-type(4){
    grid-area: 3 / 2 / 4 / 3;
  }

  .gallery-pic:nth-of-type(5){
    grid-area: 4 / 2 / 5 / 4;
  }

  .footer{
    margin-block-start: 0px;
  }

  /* Конец верстки для таблеток */
}

@media (width >= 1024px) {

  /* Начало верстки для десктопа */

  .header__theme-menu{
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 0px;
    margin-block-end: 170px;
  }

  .header__theme-menu-list{
    flex-direction: row;
  }

  .page__title{
    margin-block-start: 0px;
  }

  .header__paragraph{
    max-inline-size: 491px;
    margin-block-start: 10px;
  }

  .main{
    gap: 80px;
  }

  .section__cause{
    column-gap: 30px;
  }

  .section__factors{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 431px;
    column-gap: 20px;
    row-gap: 20px;
  }

  .section__factors .section__title{
    grid-area: 1 / 1 / 2 / 4;
    max-inline-size: 315px;
  }

  .section__advice{
    column-gap: 30px;
  }

  .section__gallery{
    grid-template-rows: auto 260px 315px 428px;
  }

  .footer{
    margin-block-start: 10px;
  }

  .footer .page__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    
  }

  /* Конец верстки для десктопа */
}
